<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.HouseInfoMapper">
  <resultMap id="BaseResultMap" type="entity.HouseInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="monthlyRent" jdbcType="VARCHAR" property="monthlyRent" />
    <result column="payType" jdbcType="VARCHAR" property="payType" />
    <result column="rentType" jdbcType="VARCHAR" property="rentType" />
    <result column="roomType" jdbcType="VARCHAR" property="roomType" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="decoration" jdbcType="VARCHAR" property="decoration" />
    <result column="releaseDate" jdbcType="VARCHAR" property="releaseDate" />
    <result column="fristImg" jdbcType="VARCHAR" property="fristImg" />
    <result column="faceTo" jdbcType="VARCHAR" property="faceTo" />
    <result column="source" jdbcType="VARCHAR" property="source" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, monthlyRent, payType, rentType, roomType, area, floor, addr, decoration, 
    releaseDate, fristImg, faceTo, source
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from houseinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from houseinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.HouseInfo">
    insert into houseinfo (id, title, monthlyRent, 
      payType, rentType, roomType, 
      area, floor, addr, 
      decoration, releaseDate, fristImg, 
      faceTo, source)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{monthlyRent,jdbcType=VARCHAR}, 
      #{payType,jdbcType=VARCHAR}, #{rentType,jdbcType=VARCHAR}, #{roomType,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{floor,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{decoration,jdbcType=VARCHAR}, #{releaseDate,jdbcType=VARCHAR}, #{fristImg,jdbcType=VARCHAR}, 
      #{faceTo,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.HouseInfo">
    insert into houseinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="monthlyRent != null">
        monthlyRent,
      </if>
      <if test="payType != null">
        payType,
      </if>
      <if test="rentType != null">
        rentType,
      </if>
      <if test="roomType != null">
        roomType,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="decoration != null">
        decoration,
      </if>
      <if test="releaseDate != null">
        releaseDate,
      </if>
      <if test="fristImg != null">
        fristImg,
      </if>
      <if test="faceTo != null">
        faceTo,
      </if>
      <if test="source != null">
        source,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="monthlyRent != null">
        #{monthlyRent,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="rentType != null">
        #{rentType,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null">
        #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="fristImg != null">
        #{fristImg,jdbcType=VARCHAR},
      </if>
      <if test="faceTo != null">
        #{faceTo,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        #{source,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.HouseInfo">
    update houseinfo
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="monthlyRent != null">
        monthlyRent = #{monthlyRent,jdbcType=VARCHAR},
      </if>
      <if test="payType != null">
        payType = #{payType,jdbcType=VARCHAR},
      </if>
      <if test="rentType != null">
        rentType = #{rentType,jdbcType=VARCHAR},
      </if>
      <if test="roomType != null">
        roomType = #{roomType,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="decoration != null">
        decoration = #{decoration,jdbcType=VARCHAR},
      </if>
      <if test="releaseDate != null">
        releaseDate = #{releaseDate,jdbcType=VARCHAR},
      </if>
      <if test="fristImg != null">
        fristImg = #{fristImg,jdbcType=VARCHAR},
      </if>
      <if test="faceTo != null">
        faceTo = #{faceTo,jdbcType=VARCHAR},
      </if>
      <if test="source != null">
        source = #{source,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.HouseInfo">
    update houseinfo
    set title = #{title,jdbcType=VARCHAR},
      monthlyRent = #{monthlyRent,jdbcType=VARCHAR},
      payType = #{payType,jdbcType=VARCHAR},
      rentType = #{rentType,jdbcType=VARCHAR},
      roomType = #{roomType,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      floor = #{floor,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      decoration = #{decoration,jdbcType=VARCHAR},
      releaseDate = #{releaseDate,jdbcType=VARCHAR},
      fristImg = #{fristImg,jdbcType=VARCHAR},
      faceTo = #{faceTo,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="haveHouseInfo" parameterType="entity.HouseInfo" resultType="java.lang.Integer">
    select
    count(1)
    from houseinfo
    <where>
      title = #{title}
      <if test="monthlyRent != null">
        and monthlyRent = #{monthlyRent}
      </if>
      <if test="payType != null">
        and payType = #{payType}
      </if>
      <if test="rentType != null">
        and rentType = #{rentType}
      </if>
      <if test="roomType != null">
        and roomType = #{roomType}
      </if>
      <if test="area != null">
        and area = #{area}
      </if>
      <if test="floor != null">
        and floor = #{floor}
      </if>
      <if test="addr != null">
        and addr = #{addr}
      </if>
      <if test="releaseDate != null">
        and releaseDate = #{releaseDate}
      </if>
      <if test="faceTo != null">
        and faceTo = #{faceTo}
      </if>
    </where>

  </select>


  <select id="seach" parameterType="dto.HouseInfoDto" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from houseinfo
    <where>
      1=1
      <if test="monthlyRent != null">
        and monthlyRent LIKE "%"#{monthlyRent}"%"
      </if>
      <if test="payType != null">
        and payType = #{payType,jdbcType=VARCHAR}
      </if>
      <if test="rentType != null">
        and rentType = #{rentType,jdbcType=VARCHAR}
      </if>
      <if test="roomType != null">
        and roomType = #{roomType,jdbcType=VARCHAR}
      </if>
      <if test="area != null">
        and area = #{area,jdbcType=VARCHAR}
      </if>
      <if test="floor != null">
        and floor = #{floor,jdbcType=VARCHAR}
      </if>
      <if test="addr != null">
        and addr = #{addr,jdbcType=VARCHAR}
      </if>
      <if test="decoration != null">
        and decoration = #{decoration,jdbcType=VARCHAR}
      </if>
      <if test="releaseDate != null">
        and releaseDate = #{releaseDate,jdbcType=VARCHAR}
      </if>

      <if test="faceTo != null">
        and faceTo = #{faceTo,jdbcType=VARCHAR}
      </if>
      <if test="source != null">
        and source = #{source}
      </if>
    </where>

  </select>
</mapper>